<div class="jumbotron">
<h1>Welcome to our store</h1>
<p>The largest online Experiences Store</p>
<%= link_to "Experience", books_path, class:"btn btn-primary btn-lg" %>
<%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary btn-lg" %>
</div>
 
<div class="row">
 
var var_location = new google.maps.LatLng(38.652778,-9.158940);
 
		var var_mapoptions = {
			 zoom: 19
			,center: var_location
			,mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		
		var var_map = new google.maps.Map(document.getElementById("map-container"), var_mapoptions);
 
		var mappin = "img/Pin-icon.png";
		var marker = new google.maps.Marker({
			map: var_map,
			draggable: false,
			icon: mappin,
			position: var_location,
			visible: true


		});
 
		var var_infobox_props = {
			 content: "<strong>Terapiando / Subsolo Arte Inc.</strong><br><br>Rua Clube Sargentos Armada nº 27-B<br>2815 Feijó<br>Almada<br>Movel: (+351) 93 807 81 49<br><br><a href='http://www.Terapiando.pt' target='_blank' style='color:darkblue'>Plan your visit</a>"
			,disableAutoPan: false
			,maxWidth: 0
			,pixelOffset: new google.maps.Size(-10, 0)
			,zIndex: null
			,boxClass: "myInfobox"
			,closeBoxMargin: "2px"
			,closeBoxURL: "img/close_sm.png"
			,infoBoxClearance: new google.maps.Size(1, 1)
			,visible: true
			,pane: "floatPane"
			,enableEventPropagation: false
		};
 
		google.maps.event.addListener(marker, "click", function (e) {
			var_infobox.open(var_map, this);
		});
 
		var var_infobox = new InfoBox(var_infobox_props);
 
		var_infobox.open(var_map, marker);
	}
	
	google.maps.event.addDomListener(window, 'load', map_init);
 
</div>